*
{
    margin: auto 0;
    padding: auto 0;
    font-size: 100%;
}
div
{
    background: #131313;
    width: 40%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2%;
    border: #e2e2e2 solid 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input
{
    background: #afafaf;
    width: 80%;
    height: 10%;
    font-size: 300%;
    border: #ffffff solid 10px;
    border-radius: 4px;
    left: 50%;
    align-self: center;
    direction: rtl;
    /* box-shadow: #6596c4 5px 5px 5px; */
}

ul
{
    display: flex;
    align-items: center;
    justify-content: center;
}

li
{
    text-align: right;
    list-style: none;
    width: 70px;
    height: 70px;
    background: #000000;
    border: #ffffff solid 2px;
    margin-right:8%;
    align-self: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;

}